@model app.Models.CheckoutViewModel

@{
    Layout = "_LayoutShopNoCart";
}

<section id="cart">
    <div id="personalinformation">
        <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
        <br/>
        <form method="POST" asp-controller="ShoppingCart" asp-action="Confirm">
            <label for="Name">Full name:</label>
            <input id="Name" asp-for="Name" type="text" value="@Model.Name"/>

            <label for="Street">Street:</label>
            <textarea id="Street" asp-for="Street"></textarea>

            <label for="City">City:</label>
            <textarea id="City" asp-for="City"></textarea>

            <label for="PostalCode">Postal code:</label>
            <textarea id="PostalCode" asp-for="PostalCode"></textarea>

            <label for="Country">Country:</label>
            <textarea id="Country" asp-for="Country"></textarea>

            <label>Payment method:</label>
            <input checked type="radio" asp-for="PaymentMethod" id="payment-card" value="card"/><label
                for="payment-card">Card</label>
            <input type="radio" asp-for="PaymentMethod" id="payment-bitcoin" value="bitcoin"/><label for="payment-bitcoin">Bitcoin</label>
            <input type="radio" asp-for="PaymentMethod" id="payment-goldbars" value="gold_bars"/><label
                for="payment-goldbars">Gold
            bars</label>
            <input type="radio" asp-for="PaymentMethod" id="payment-kind" value="in_kind"/><label for="payment-kind">In
            kind</label>
            <input type="submit" value="confirm order" class="order"/>
        </form>
    </div>
</section>