@model app.Models.CheckoutViewModel

@{
    Layout = "_LayoutShopNoCart";
}

<section id="cart">
<div id="cartoverview">
    <h2>Thank you <span>@Model.Name</span> for your order</h2>
    <p>Your order will be paid with <strong>@Model.PaymentMethod</strong>.</p>
    <p>We will ship your movies upon payment confirmation.</p>
</div>
</section>